<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.taoxiuxia.dao.BorrowMapper" >
  <resultMap id="BaseResultMap" type="com.taoxiuxia.model.Borrow" >
    <id column="borrow_id" property="borrowId" jdbcType="INTEGER" />
    <result column="borrow_user_id" property="borrowUserId" jdbcType="INTEGER" />
    <result column="borrow_name" property="borrowName" jdbcType="VARCHAR" />
    <result column="borrow_money" property="borrowMoney" jdbcType="INTEGER" />
    <result column="borrow_type" property="borrowType" jdbcType="VARCHAR" />
    <result column="borrow_date" property="borrowDate" jdbcType="TIMESTAMP" />
    <result column="borrow_remark" property="borrowRemark" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    borrow_id, borrow_user_id, borrow_name, borrow_money, borrow_type, borrow_date, borrow_remark
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.taoxiuxia.model.BorrowExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from borrow
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from borrow
    where borrow_id = #{borrowId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from borrow
    where borrow_id = #{borrowId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.taoxiuxia.model.BorrowExample" >
    delete from borrow
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.taoxiuxia.model.Borrow" >
    insert into borrow (borrow_id, borrow_user_id, borrow_name, 
      borrow_money, borrow_type, borrow_date, 
      borrow_remark)
    values (#{borrowId,jdbcType=INTEGER}, #{borrowUserId,jdbcType=INTEGER}, #{borrowName,jdbcType=VARCHAR}, 
      #{borrowMoney,jdbcType=INTEGER}, #{borrowType,jdbcType=VARCHAR}, #{borrowDate,jdbcType=TIMESTAMP}, 
      #{borrowRemark,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.taoxiuxia.model.Borrow" >
    insert into borrow
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="borrowId != null" >
        borrow_id,
      </if>
      <if test="borrowUserId != null" >
        borrow_user_id,
      </if>
      <if test="borrowName != null" >
        borrow_name,
      </if>
      <if test="borrowMoney != null" >
        borrow_money,
      </if>
      <if test="borrowType != null" >
        borrow_type,
      </if>
      <if test="borrowDate != null" >
        borrow_date,
      </if>
      <if test="borrowRemark != null" >
        borrow_remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="borrowId != null" >
        #{borrowId,jdbcType=INTEGER},
      </if>
      <if test="borrowUserId != null" >
        #{borrowUserId,jdbcType=INTEGER},
      </if>
      <if test="borrowName != null" >
        #{borrowName,jdbcType=VARCHAR},
      </if>
      <if test="borrowMoney != null" >
        #{borrowMoney,jdbcType=INTEGER},
      </if>
      <if test="borrowType != null" >
        #{borrowType,jdbcType=VARCHAR},
      </if>
      <if test="borrowDate != null" >
        #{borrowDate,jdbcType=TIMESTAMP},
      </if>
      <if test="borrowRemark != null" >
        #{borrowRemark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.taoxiuxia.model.BorrowExample" resultType="java.lang.Integer" >
    select count(*) from borrow
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update borrow
    <set >
      <if test="record.borrowId != null" >
        borrow_id = #{record.borrowId,jdbcType=INTEGER},
      </if>
      <if test="record.borrowUserId != null" >
        borrow_user_id = #{record.borrowUserId,jdbcType=INTEGER},
      </if>
      <if test="record.borrowName != null" >
        borrow_name = #{record.borrowName,jdbcType=VARCHAR},
      </if>
      <if test="record.borrowMoney != null" >
        borrow_money = #{record.borrowMoney,jdbcType=INTEGER},
      </if>
      <if test="record.borrowType != null" >
        borrow_type = #{record.borrowType,jdbcType=VARCHAR},
      </if>
      <if test="record.borrowDate != null" >
        borrow_date = #{record.borrowDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.borrowRemark != null" >
        borrow_remark = #{record.borrowRemark,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update borrow
    set borrow_id = #{record.borrowId,jdbcType=INTEGER},
      borrow_user_id = #{record.borrowUserId,jdbcType=INTEGER},
      borrow_name = #{record.borrowName,jdbcType=VARCHAR},
      borrow_money = #{record.borrowMoney,jdbcType=INTEGER},
      borrow_type = #{record.borrowType,jdbcType=VARCHAR},
      borrow_date = #{record.borrowDate,jdbcType=TIMESTAMP},
      borrow_remark = #{record.borrowRemark,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.taoxiuxia.model.Borrow" >
    update borrow
    <set >
      <if test="borrowUserId != null" >
        borrow_user_id = #{borrowUserId,jdbcType=INTEGER},
      </if>
      <if test="borrowName != null" >
        borrow_name = #{borrowName,jdbcType=VARCHAR},
      </if>
      <if test="borrowMoney != null" >
        borrow_money = #{borrowMoney,jdbcType=INTEGER},
      </if>
      <if test="borrowType != null" >
        borrow_type = #{borrowType,jdbcType=VARCHAR},
      </if>
      <if test="borrowDate != null" >
        borrow_date = #{borrowDate,jdbcType=TIMESTAMP},
      </if>
      <if test="borrowRemark != null" >
        borrow_remark = #{borrowRemark,jdbcType=VARCHAR},
      </if>
    </set>
    where borrow_id = #{borrowId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.taoxiuxia.model.Borrow" >
    update borrow
    set borrow_user_id = #{borrowUserId,jdbcType=INTEGER},
      borrow_name = #{borrowName,jdbcType=VARCHAR},
      borrow_money = #{borrowMoney,jdbcType=INTEGER},
      borrow_type = #{borrowType,jdbcType=VARCHAR},
      borrow_date = #{borrowDate,jdbcType=TIMESTAMP},
      borrow_remark = #{borrowRemark,jdbcType=VARCHAR}
    where borrow_id = #{borrowId,jdbcType=INTEGER}
  </update>
</mapper>