<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.taoxiuxia.mapper.IncomeMapper" >
  
  <resultMap id="BaseResultMap" type="com.taoxiuxia.model.Income" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="item_id" property="itemId" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="money" property="money" jdbcType="REAL" />
    <result column="date" property="date" jdbcType="TIMESTAMP" />
    <result column="type_of_money" property="type_of_money" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="dele" property="dele" jdbcType="INTEGER" />
    
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  
  <sql id="Base_Column_List" >
    id, item_id, user_id, money, date, remark, dele
  </sql>
  
  <!-- income搜索的where语句 -->
  <sql id="where_statement_for_income_search" >
    <where>
		income.item_id = item.id
	AND income.user_id = #{userId,jdbcType=INTEGER}
	AND income.dele = 1
	AND income.type_of_money = pay_method.id
		<if test="beginDate!=null">
			AND date_format(income.date, '%Y-%m') &gt;= date_format(#{beginDate}, '%Y-%m')
		</if>
		<if test="endDate!=null">
			AND date_format(income.date, '%Y-%m') &lt;= date_format(#{endDate}, '%Y-%m')
		</if>
		<if test="keyword!=null">
			AND (
				item.name like concat('%', #{keyword}, '%')
				OR pay_method.name like concat('%', #{keyword}, '%')
				OR income.remark like concat('%', #{keyword}, '%')
				)
		</if>
		<if test="inOrEx!=null">
			AND item.in_or_ex = #{inOrEx}
		</if>
	</where>
  </sql>
  
  <!-- expenditure搜索的where语句 -->
  <sql id="where_statement_for_expenditure_search" >
    <where>
		expenditure.item_id = item.id
	AND expenditure.user_id = #{userId,jdbcType=INTEGER}
	AND expenditure.dele = 1
	AND expenditure.type_of_money = pay_method.id
		<if test="beginDate!=null">
			AND date_format(expenditure.date, '%Y-%m') &gt;= date_format(#{beginDate}, '%Y-%m')
		</if>
		<if test="endDate!=null">
			AND date_format(expenditure.date, '%Y-%m') &lt;= date_format(#{endDate}, '%Y-%m')
		</if>
		<if test="keyword!=null">
			AND (item.name like concat('%', #{keyword}, '%')
			OR pay_method.name like concat('%', #{keyword}, '%')
			OR expenditure.remark like concat('%', #{keyword}, '%'))
		</if>
		<if test="inOrEx!=null">
			AND item.in_or_ex = #{inOrEx}
		</if>
	</where>
  </sql>
  
  <select id="selectAllIncomes" resultMap="BaseResultMap" parameterType="java.util.HashMap" >
	SELECT
		 income.id,
		 income.item_id,
		 income.user_id,
		 income.date,
		 income.money,
		 income.type_of_money,
		 income.remark,
		 item. NAME AS itemName,
		 pay_method.NAME AS payMethodName
		FROM
			income,
			item,
			pay_method
		WHERE
			income.item_id = item.id
		AND income.user_id = #{userId,jdbcType=INTEGER}
		AND income.dele = 1
		AND income.type_of_money = pay_method.id
	<if test="dataScale != null and dataScale == 'only_this_month'.toString() ">
		AND date_format(income.date, '%Y-%m') = date_format(now(), '%Y-%m') <!-- 只查询本月数据 -->
	</if>
	
	ORDER BY
		income.date DESC, income.id DESC
  </select>
  
   <!-- 查询收入和支出的总条数，根据传进来的日期和关键字，用于history页面 -->
   <select id="countIncomesAndExpenditure" resultType="java.lang.Integer" parameterType="java.util.HashMap" >
	SELECT
	(	
		SELECT
			count(*)
		FROM
			income,
			item,
			pay_method
		<include refid="where_statement_for_income_search" />
	)
	+
	(
		SELECT
			count(*)
		FROM
			expenditure,
			item,
			pay_method
		<include refid="where_statement_for_expenditure_search" />
	) AS count
  </select>
  
  <!-- 查询收入和支出，根据传进来的日期和关键字，用于history页面 -->
  <select id="selectIncomesAndExpenditure" resultType="java.util.HashMap" parameterType="java.util.HashMap" >
	SELECT
		income.id,
		income.id as sortId,
		income.item_id,
		income.user_id,
		income.date as date,
		income.money as money,
		income.type_of_money,
		income.remark,
		item.id AS itemId,
		item.name AS itemName,
		item.in_or_ex AS itemType,
		pay_method.name as payMethodName,
		pay_method.id as payMethodId
	FROM
		income,
		item,
		pay_method
	<include refid="where_statement_for_income_search" />
	
	UNION
	
	SELECT
		expenditure.id,
		expenditure.id as sortId,
		expenditure.item_id,
		expenditure.user_id,
		expenditure.date as date,
		expenditure.money as money,
		expenditure.type_of_money,
		expenditure.remark,
		item.id AS itemId,
		item.name AS itemName,
		item.in_or_ex AS itemType,
		pay_method.name as payMethodName,
		pay_method.id as payMethodId
	FROM
		expenditure,
		item,
		pay_method
	<include refid="where_statement_for_expenditure_search" />
	ORDER BY ${sortBy}, sortId ASC
	LIMIT #{beginRecord, jdbcType=INTEGER}, #{limit, jdbcType=INTEGER}
  </select>
  
  <insert id="insert" parameterType="com.taoxiuxia.model.Income" >
    INSERT INTO income (
		item_id,
		user_id,
		money,
		type_of_money,
		date,
		remark,
		dele
	)
	VALUES(
		#{itemId,jdbcType=INTEGER}, 
		#{userId,jdbcType=INTEGER}, 
		#{money,jdbcType=REAL}, 
		#{type_of_money, jdbcType=VARCHAR}, 
		#{date,jdbcType=TIMESTAMP}, 
		#{remark,jdbcType=VARCHAR}, 
		#{dele,jdbcType=INTEGER}
	)
  </insert>
  
  <update id="updateByPrimaryKeySelective" parameterType="com.taoxiuxia.model.Income" >
    update income
    <set >
      <if test="itemId != null and itemId != 0" >
        item_id = #{itemId,jdbcType=INTEGER},
      </if>
      <if test="userId != null and userId != 0" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="money != null" >
        money = #{money,jdbcType=REAL},
      </if>
      <if test="type_of_money != null" >
        type_of_money = #{type_of_money,jdbcType=VARCHAR},
      </if>
      <if test="date != null" >
        date = #{date,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="dele != null and dele != 0" >
        dele = #{dele,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
 
  <!-- 最近12个月的收入 -->
  <select id="searchLast12Income" parameterType="java.util.HashMap" resultType="java.util.HashMap">
    SELECT
		DATE_FORMAT(t.date, '%Y-%m') month,
		sum(money) sumMoney
	FROM
		income t
	WHERE
		t.dele = 1
	AND t.user_Id = #{userId,jdbcType=INTEGER}
	AND DATE_FORMAT(date, '%Y-%m') > DATE_FORMAT(
		date_sub(curdate(), INTERVAL 12 MONTH),
		'%Y-%m'
	)
	GROUP BY
		month
  </select>
  
  <!-- 搜索一段时间内的收入，按照item name分组 -->
  <select id="selectIncomeGroupByItemName" parameterType="java.util.HashMap" resultType="java.util.HashMap">
    SELECT
		i.name,
		sum(money) sumMoney
	FROM
		item i,
		income t
	WHERE
		i.id = t.item_id
	AND t.dele = 1
	AND t.user_id = #{userId,jdbcType=INTEGER}
	AND DATE_FORMAT(date, '%Y-%m-%d') &gt;= DATE_FORMAT(#{startTime,jdbcType=VARCHAR}, '%Y-%m-%d')
	AND DATE_FORMAT(date, '%Y-%m-%d') &lt;= DATE_FORMAT(#{endTime,jdbcType=VARCHAR}, '%Y-%m-%d')
	GROUP BY
		name
  </select>
  
  
  
  
  
  
  
  
  <!-- 以下是自动生成的,以下的内容可能用不到，但是可以模仿这种代码方式，尽量减少代码冗余 -->
  
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.taoxiuxia.model.IncomeExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from income
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from income
    where id = #{id,jdbcType=INTEGER}
  </select>
  
  
  
  <select id="countByExample" parameterType="com.taoxiuxia.model.IncomeExample" resultType="java.lang.Integer" >
    select count(*) from income
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  
  <update id="updateByExampleSelective" parameterType="map" >
    update income
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.itemId != null" >
        item_id = #{record.itemId,jdbcType=INTEGER},
      </if>
      <if test="record.userId != null" >
        user_id = #{record.userId,jdbcType=INTEGER},
      </if>
      <if test="record.money != null" >
        money = #{record.money,jdbcType=REAL},
      </if>
      <if test="record.date != null" >
        date = #{record.date,jdbcType=TIMESTAMP},
      </if>
      <if test="record.remark != null" >
        remark = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.dele != null" >
        dele = #{record.dele,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  
  <update id="updateByExample" parameterType="map" >
    update income
    set id = #{record.id,jdbcType=INTEGER},
      item_id = #{record.itemId,jdbcType=INTEGER},
      user_id = #{record.userId,jdbcType=INTEGER},
      money = #{record.money,jdbcType=REAL},
      date = #{record.date,jdbcType=TIMESTAMP},
      remark = #{record.remark,jdbcType=VARCHAR},
      dele = #{record.dele,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  
  <update id="updateByPrimaryKey" parameterType="com.taoxiuxia.model.Income" >
    update income
    set item_id = #{itemId,jdbcType=INTEGER},
      user_id = #{userId,jdbcType=INTEGER},
      money = #{money,jdbcType=REAL},
      date = #{date,jdbcType=TIMESTAMP},
      remark = #{remark,jdbcType=VARCHAR},
      dele = #{dele,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>