<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.taoxiuxia.dao.PrivateItemMapper" >
  <resultMap id="BaseResultMap" type="com.taoxiuxia.model.PrivateItem" >
    <id column="private_item_id" property="privateItemId" jdbcType="INTEGER" />
    <result column="private_item_user_id" property="privateItemUserId" jdbcType="INTEGER" />
    <result column="private_item_name" property="privateItemName" jdbcType="CHAR" />
    <result column="private_item_in_or_ex" property="privateItemInOrEx" jdbcType="VARCHAR" />
    <result column="private_item_remark" property="privateItemRemark" jdbcType="CHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    private_item_id, private_item_user_id, private_item_name, private_item_in_or_ex, 
    private_item_remark
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.taoxiuxia.model.PrivateItemExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from private_item
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from private_item
    where private_item_id = #{privateItemId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from private_item
    where private_item_id = #{privateItemId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.taoxiuxia.model.PrivateItemExample" >
    delete from private_item
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.taoxiuxia.model.PrivateItem" >
    insert into private_item (private_item_id, private_item_user_id, 
      private_item_name, private_item_in_or_ex, private_item_remark
      )
    values (#{privateItemId,jdbcType=INTEGER}, #{privateItemUserId,jdbcType=INTEGER}, 
      #{privateItemName,jdbcType=CHAR}, #{privateItemInOrEx,jdbcType=VARCHAR}, #{privateItemRemark,jdbcType=CHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.taoxiuxia.model.PrivateItem" >
    insert into private_item
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="privateItemId != null" >
        private_item_id,
      </if>
      <if test="privateItemUserId != null" >
        private_item_user_id,
      </if>
      <if test="privateItemName != null" >
        private_item_name,
      </if>
      <if test="privateItemInOrEx != null" >
        private_item_in_or_ex,
      </if>
      <if test="privateItemRemark != null" >
        private_item_remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="privateItemId != null" >
        #{privateItemId,jdbcType=INTEGER},
      </if>
      <if test="privateItemUserId != null" >
        #{privateItemUserId,jdbcType=INTEGER},
      </if>
      <if test="privateItemName != null" >
        #{privateItemName,jdbcType=CHAR},
      </if>
      <if test="privateItemInOrEx != null" >
        #{privateItemInOrEx,jdbcType=VARCHAR},
      </if>
      <if test="privateItemRemark != null" >
        #{privateItemRemark,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.taoxiuxia.model.PrivateItemExample" resultType="java.lang.Integer" >
    select count(*) from private_item
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update private_item
    <set >
      <if test="record.privateItemId != null" >
        private_item_id = #{record.privateItemId,jdbcType=INTEGER},
      </if>
      <if test="record.privateItemUserId != null" >
        private_item_user_id = #{record.privateItemUserId,jdbcType=INTEGER},
      </if>
      <if test="record.privateItemName != null" >
        private_item_name = #{record.privateItemName,jdbcType=CHAR},
      </if>
      <if test="record.privateItemInOrEx != null" >
        private_item_in_or_ex = #{record.privateItemInOrEx,jdbcType=VARCHAR},
      </if>
      <if test="record.privateItemRemark != null" >
        private_item_remark = #{record.privateItemRemark,jdbcType=CHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update private_item
    set private_item_id = #{record.privateItemId,jdbcType=INTEGER},
      private_item_user_id = #{record.privateItemUserId,jdbcType=INTEGER},
      private_item_name = #{record.privateItemName,jdbcType=CHAR},
      private_item_in_or_ex = #{record.privateItemInOrEx,jdbcType=VARCHAR},
      private_item_remark = #{record.privateItemRemark,jdbcType=CHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.taoxiuxia.model.PrivateItem" >
    update private_item
    <set >
      <if test="privateItemUserId != null" >
        private_item_user_id = #{privateItemUserId,jdbcType=INTEGER},
      </if>
      <if test="privateItemName != null" >
        private_item_name = #{privateItemName,jdbcType=CHAR},
      </if>
      <if test="privateItemInOrEx != null" >
        private_item_in_or_ex = #{privateItemInOrEx,jdbcType=VARCHAR},
      </if>
      <if test="privateItemRemark != null" >
        private_item_remark = #{privateItemRemark,jdbcType=CHAR},
      </if>
    </set>
    where private_item_id = #{privateItemId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.taoxiuxia.model.PrivateItem" >
    update private_item
    set private_item_user_id = #{privateItemUserId,jdbcType=INTEGER},
      private_item_name = #{privateItemName,jdbcType=CHAR},
      private_item_in_or_ex = #{privateItemInOrEx,jdbcType=VARCHAR},
      private_item_remark = #{privateItemRemark,jdbcType=CHAR}
    where private_item_id = #{privateItemId,jdbcType=INTEGER}
  </update>
</mapper>