/* 顶部标题栏 */
.title{height: 50px; background-color: #DCDCDC; position: fixed; top: 0; width: 97%; z-index: 1; margin-top: 0px; border-radius: 10px;}
.title-text{font-size:25px; color:#000000;}
.li-style{list-style: none; margin-top: 6px;}
.userInfo{color: #000000; font-size: 20px; margin-left: 80%;}
.logoutLink{color: #000000; margin-left:10px}
