.label2{font-size:15px; text-align: right;}
.label3{font-size:17px;width:80px; text-align: right;}
.input1{width:150px;}
.layout_div_Style{height: 50px; width: 400px;}
.change-label{width:50px;}
.change-text{width:250px}
.select1{height: 25px;}
