.label1{font-size:17px;width:40px}
.label2{font-size:17px;width:40px; text-align: right;}
.label3{font-size:17px;width:80px; text-align: right;}
.input1{width:100px; }

.change-label{width:50px;}