/* 增加收入支出 */
.add-label{height: 25px;width: 100px;}
.label2{width: 90px; text-align: right; font-weight: normal;}
.label3{font-weight: normal;}
.label4{width: 150px; text-align: right; font-weight: normal;}
.label5{width: 50px; text-align: right; font-weight: normal;}

.addIncome_div1{height: 30px;}
.addIncome_div2{height: 55px;}
.add-data{height: 25px;width: 200px;}
.add-select{height: 25px;width: 200px; margin-left: -4px;}
.add-money{height: 25px;width: 200px;}
.add-money-type{height: 25px;width: 200px;}
.add-money-remark{height: 50px;width: 200px; vertical-align: top; margin-left: -4px;}
.add-button{height: 25px;width: 100px; margin-left: 90px;}

/* 修改增加收入支出项 */
.changeLabel{height: 25px;width: 60px;}
.changeInput{height: 25px;width: 150px;}

.input2{height: 25px;width: 150px;}

.div3{height: 35px;}

