.addPayMethod{margin-top:20px;}
.addPayMethod-label{height: 25px;width: 150px; text-align: right;}
.addPayMethod-input{height: 25px;width: 100px;}
.col1{width:240px;}
.col2{width:500px;}
.col3{width:110px;}
.col4{width:110px;}
.add-select{height: 25px;width: 180px; margin-top: 10px; margin-bottom: 10px}

.tableTitle{font-size:19px}

