.register{width:500px;margin-left:450px; margin-top: 80px;}
.div1{margin-top: 15px;}
.label1{width:100px;text-align: right; font-weight: 500;}
.input1{width:260px;}
.input2{width:100px;}
.btn1{width:100px; margin-left:100px}
.link1{width:100px; margin-left:20px}